# Vector DB
qdrant-client
pendulum
apache-airflow
apache-airflow-providers-amazon
#apache-airflow-providers-qdrant

# Core
uvicorn[standard]
pydantic
python-dotenv
requests

# LangChain
#langchain
#langchain-openai
#langchain-community
#langchain-qdrant

# Utilities
pyyaml
click
httpx

# sentence_transformers
# fastembed
